@using Web_DonNghiPhep.ViewModels
@model IEnumerable<Web_DonNghiPhep.Models.LeaveRequest>

@{
    ViewData["Title"] = "Index";
}

<div class="content-container">
    <h1>Đơn xin nghỉ phép</h1>

    <p>
        <a class="btn btn-primary" asp-action="CreateLeaveRequest">Tạo đơn mới</a>
    </p>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 15%;">
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th style="width: 10%;">
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th style="width: 20%;">
                        @Html.DisplayNameFor(model => model.Reason)
                    </th>
                    <th class="text-center" style="width: 15%;">
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th style="width: 25%;">
                        @Html.DisplayNameFor(model => model.ApprovedBy)
                    </th>
                    <th style="width: 15%;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                        <td>
                            <span class="text-ellipsis">@Html.DisplayFor(modelItem => item.Reason)</span>
                        </td>
                        <td class="text-center">
                           @{
                                var status = item.Status;
                                var clasbage = status == "Pending" ? "warning" : status == "Approved" ? "success" : "danger";
                            }
                            <span class="badge bg-@clasbage text-ellipsis">@status</span>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.ApprovedBy.FullName)</td>
                        <td>
                            <div class="d-flex gap-2">
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Xoá</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="pagination-container">
        <partial name="_PagingPartial" model="new PagingViewModel { CurrentPage = ViewBag.CurrentPage, TotalPages = ViewBag.TotalPages }" />
    </div>
</div>


