@model IEnumerable<Web_DonNghiPhep.ViewModels.DepartmentVM>

@{
    ViewData["Title"] = "Index";
}

<h3>Danh sách phòng ban</h3>

<p>
    <a class="btn btn-primary" asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Department_id">Sửa</a> 
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Department_id">Chi tiết</a> 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Department_id">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
