@model Web_DonNghiPhep.Models.User;

@{
    ViewData["Title"] = "Details";
    
}

<h2>Chi tiết tài khoản</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeUs.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeUs.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeUs.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeUs.Department.DepartmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeUs.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeUs.Title.Title_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @{
                var statusClass = Model.Status ? "bg-success" : "bg-danger";
                var statusText = Model.Status ? "Active" : "Lock";
            }
            <span class="badge @statusClass">@statusText</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updated_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserRoles)
        </dt>
        <dd class = "col-sm-10">
            @string.Join(",", Model.UserRoles.Select(x => x.Role.Role_Name).ToList())
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Employee_ID">Sửa</a>
    <a class="btn btn-secondary" asp-action="Index">Trở lại</a>
</div>
